/*ticket*/
.ticket .item {
	width: 100%;
	padding: 0 20px;
	height: 100%;
	overflow: hidden;
}

.ticket .item-right, .ticket .item-left {
	float: left;
	padding: 20px;
}

.ticket .item-right {
	width: 25%;
	position: relative;
	height: 100%;
	display: inline-grid;
	align-content: stretch;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	background: #cde0ff;
}

.ticket .item-right .up-border, .container .item-right .down-border {
	padding: 14px 15px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
}

.ticket .item-right .up-border {
	top: -7px;
	right: -16px;
}

.ticket .item-right .down-border {
	bottom: -12px;
	right: -16px;
}

.ticket .item-right .img {
	font-size: 60px;
	text-align: center;
	color: #111;
}

.ticket .item-right .img img {
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.ticket .item-right .name, .ticket .item-left .event {
	color: #555;
	font-size: 1rem;
	margin-bottom: 9px;
}

.ticket .item-left .event {
	color: #1d68dc;
}

.ticket .item-right .name {
	text-align: center;
	font-size: 1.725rem;
}

.ticket .item-left {
	width: 71%;
	padding: 34px 0px 19px 46px;
	border-left: 3px dotted #999;
	background: #f4f9ff;
	height: 100%;
}

.ticket .item-left .title {
	color: #63a1ff;
	font-size: 34px;
	margin-bottom: 12px;
}

.ticket .item-left .sce {
	margin-top: 5px;
	display: block;
}

.ticket .item-left .sce .icon, .ticket .item-left .sce p, .ticket .item-left .loc .icon,
	.ticket .item-left .loc p {
	float: left;
	word-spacing: 5px;
	letter-spacing: 1px;
	color: #888;
	margin-bottom: 10px;
}

.ticket .item-left .sce .icon, .ticket .item-left .loc .icon {
	margin-right: 10px;
	font-size: 20px;
	color: #666;
}

.ticket .item-left .loc {
	display: block
}

.fix {
	clear: both
}

.ticket .item .tickets, .booked, .cancel {
	color: #fff;
	padding: 6px 14px;
	float: right;
	margin-top: 10px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

.ticket .item .tickets {
	background: #777;
}

.ticket .item .booked {
	background: #3D71E9;
}

.ticket .item .cancel {
	background: #DF5454;
}

.linethrough {
	text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
	.ticket .item {
		width: 100%;
		margin-right: 20px;
		display: inline-flex;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		align-items: center;
	}
	div.ticket {
		margin: 0 20px auto;
	}
	.ticket .item-left, .ticket .item-right {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 20px;
	}
	.ticket .item-left {
		border-left: none;
		border-top: 3px dotted #999;
	}
	.ticket .item-right .up-border {
		bottom: -11px;
		left: -16px;
		top: inherit;
		right: inherit;
	}
}

/*======================================
   Start Checkout Form CSS
========================================*/
.shop.checkout {
	padding: 0;
	background: #fff;
	padding-top: 20px;
	padding-bottom: 50px;
}


.shop.checkout .checkout-form h2 {
	font-size: 25px;
	color: #333;
	font-weight: 700;
	line-height: 27px;
}

.shop.checkout .checkout-form p {
	font-size: 16px;
	color: #333;
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 30px;
}

.shop.checkout .form {
	
}

.shop.checkout .form .form-group {
	margin-bottom: 25px;
}

.shop.checkout .form .form-group label {
	color: #333;
	position: relative;
}

.shop.checkout .form .form-group label span {
	color: #ff2c18;
	display: inline-block;
	position: absolute;
	right: -12px;
	top: 4px;
	font-size: 16px;
}

.shop.checkout .form .form-group input {
	    width: 100%;
    height: 45px;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    color: #333 !important;
    border: none;
    background: #ffffff;
    border: 1px solid #c9c9c9;
}

.shop.checkout .form .form-group input:hover {
	
}

.shop.checkout .nice-select {
	width: 100%;
	height: 45px;
	line-height: 50px;
	margin-bottom: 25px;
	background: #F6F7FB;
	border-radius: 0px;
	border: none;
}

.shop.checkout .nice-select .list {
	width: 100%;
	height: 110px;
	overflow: scroll;
}

.shop.checkout .nice-select .list li {
	
}

.shop.checkout .nice-select .list li.option {
	color: #333;
}

.shop.checkout .nice-select .list li.option:hover {
	background: #F6F7FB;
	color: #333;
}

.shop.checkout .form .address input {
	margin-bottom: 15px;
}

.shop.checkout .form .address input:last-child {
	margin: 0;
}

.shop.checkout .form .create-account {
	margin: 0;
}

.shop.checkout .form .create-account input {
	width: auto;
	display: inline-block;
	height: auto;
	border-radius: 100%;
	margin-right: 3px;
}

.shop.checkout .form .create-account label {
	display: inline-block;
	margin: 0;
}

.shop.checkout .order-details {
	position: sticky;
  	top: 90px;
	background: #fff;
	padding: 15px 0 30px 0;
	border: 1px solid #eee;
	border-radius: 8px;
}

.shop.checkout .single-widget {
	margin-bottom: 30px;
}

.shop.checkout .single-widget:last-child {
	margin: 0;
}

.shop.checkout .single-widget h2 {
	position: relative;
	font-size: 15px;
	font-weight: 600;
	padding: 10px 30px;
	line-height: 24px;
	text-transform: uppercase;
	color: #333;
	padding-bottom: 5px;
}

.shop.checkout .single-widget h2:before {
	position: absolute;
	content: "";
	left: 30px;
	bottom: 0;
	height: 2px;
	width: 50px;
	background: #F7941D;
}

.shop.checkout .single-widget .content ul {
	margin-top: 30px;
}

.shop.checkout .single-widget .content ul li {
	display: block;
	padding: 0px 30px;
	font-size: 15px;
	font-weight: 400;
	color: #333;
	margin-bottom: 12px;
}

.shop.checkout .single-widget .content ul li span {
	display: inline-block;
	float: right;
}

.shop.checkout .single-widget .content ul li.last {
	padding-top: 12px;
	border-top: 1px solid #ebebeb;
	display: block;
	font-size: 15px;
	font-weight: 400;
	color: #333;
}

.shop.checkout .single-widget .checkbox {
	text-align: left;
	margin: 0;
	padding: 0px 30px;
	margin-top: 30px;
}

.shop.checkout .single-widget .checkbox label {
	color: #555555;
	position: relative;
	font-size: 14px;
	padding-left: 20px;
	margin-top: -5px;
	font-weight: 400;
	display: block;
	margin-bottom: 15px;
}

.shop.checkout .single-widget .checkbox label:last-child {
	margin-bottom: 0;
}

.shop.checkout .single-widget .checkbox label:hover {
	cursor: pointer;
}

.shop.checkout .single-widget .checkbox label input {
	display: none;
}

.shop.checkout .single-widget .checkbox label::before {
	position: absolute;
	content: "";
	left: 0;
	top: 7px;
	width: 12px;
	height: 12px;
	line-height: 16px;
	border: 1px solid #666;
	border-radius: 100%;
}

.shop.checkout .single-widget .checkbox label::after {
	position: absolute;
	content: "";
	left: 0;
	top: 7px;
	width: 12px;
	height: 12px;
	line-height: 16px;
	border-radius: 100%;
	display: block;
	background: #666;
	transform: scale(0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.shop.checkout .single-widget .checkbox label.checked::after {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.shop.checkout .single-widget.payement {
	padding: 0px 38px;
	text-align: center;
	margin-top: 30px;
}

.shop.checkout .single-widget.get-button {
	text-align: center;
	padding: 0px 35px;
}

.shop.checkout .single-widget.get-button .btn {
	height: 46px;
    width: 100%;
    line-height: 19px;
    text-align: center;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #333;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
    padding: 13px 32px;
    border-radius: 0px;
    text-transform: uppercase;
}

/*form*/
.page_card {
	position: relative;
	border: 1px solid #eaeaea;
	border-radius: 8px;
	color: gray;
	background: #fff;
	/* width: 100%; */
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0px 15px;
}

/*구독권선택*/
.inputGroup {
	background-color: #fff;
	display: block;
	margin: 10px 0;
	position: relative;
	border: 1px solid #eee;
	border-radius: 0.4rem;
}

.inputGroup label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}

.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: "";
	background-color: #ab7442;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}

.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: "";
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image:
		url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
	color: #fff;
	border-radius: 0.4rem;
}

.inputGroup input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.inputGroup input:checked ~ label:after {
	background-color: #8b470a;
	border-color: #8b470a;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}

/* 이용안내 - 그대로 가져옴*/
.cafePay.viewContents .boxWhite>.guideInfo {
    margin: 2px 0 -3px;
    padding-top: 0;
    border: 0;
    background: none;
    padding: 30px 0 0 0;
}
.guideInfo .titGuide {
    position: relative;
    padding: 0 0 15px 26px;
    color: #202020;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 20px;
    border-bottom: 1px solid #EAEAEA;
}
.cafePay.viewContents .boxWhite>.guideInfo .tit {
    display: block;
    margin-top: 22px;
    color: #202020;
}

.cafePay.viewContents .boxWhite>.guideInfo .listType01 {
    margin-top: 13px;
}

.cafePay.viewContents .boxWhite>.guideInfo .listType01>li {
    margin-top: 6px;
}
.listType01>li {
    position: relative;
    margin-top: 12px;
    padding-left: 6px;
    line-height: 1.5;
}
.listType01>li:before {
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    width: 2px;
    height: 2px;
    background: gray;
}

.guideInfo .listType01+.tit {
    margin-top: 43px;
}
.guideInfo .tit {
    display: block;
    margin-top: 22px;
    color: #202020;
}
/*======================================
   End Checkout Form CSS
========================================*/
