<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.coffice.user.service.CafeSNSImpl">
	<resultMap type="com.coffice.dto.StoresDTO" id="StoreMap">
		<id property="store_idx" column="store_idx"/>	
		<id property="store_name" column="store_name"/>	
		<id property="store_latitude" column="store_latitude"/>	
		<id property="store_longitude" column="store_longitude"/>	
	</resultMap>
	
	<resultMap type="com.coffice.dto.ImageDTO" id="ImageMap">
		<id property="image_idx" column="image_idx"/>
		<id property="review_idx" column="review_idx"/>
		<id property="store_idx" column="store_idx"/>
		<id property="image_origin" column="image_origin"/>
		<id property="image_save" column="image_save"/>
		<id property="image_postdate" column="image_postdate"/>
		<id property="image_rprsn" column="image_rprsn"/>
	</resultMap>
	
	<resultMap type="com.coffice.dto.MemberDTO" id="UserMap">
		<id property="mem_id" column="mem_id"/>
		<id property="mem_name" column="mem_name"/>
		<id property="mem_nickname" column="mem_nickname"/>
		<id property="mem_email" column="mem_email"/>
		<id property="mem_phone" column="mem_phone"/>
		<id property="mem_img" column="mem_img"/>
	</resultMap>
	<resultMap type="com.coffice.dto.HeartDTO" id="HeartMap">
		<id property="review_idx" column="review_idx"/>
		<id property="like_flag" column="like_flag"/>
		<id property="like_postdate" column="like_postdate"/>
		<id property="mem_id" column="mem_id"/>
	</resultMap>
	
	<resultMap type="com.coffice.dto.ReviewDTO" id="SNSMap">
		<result property="review_idx" column="review_idx"/>
		<result property="review_content" column="review_content"/>
		<result property="review_star" column="review_star"/>
		<result property="review_img" column="review_img"/>
		<result property="like_hit" column="like_hit"/>
		<collection property="storesDTO" resultMap="StoreMap"/>
		<collection property="memberDTO" resultMap="UserMap"/>
		<collection property="imageDTO" resultMap="ImageMap"/>
		<collection property="hearts" resultMap="HeartMap"></collection>
	</resultMap>
	<select id="list" resultMap="SNSMap">
		select * from review LEFT join stores on review.store_idx = stores.store_idx
	</select>
	
	<select id="getTotalCount" resultType="int"
		parameterType="com.coffice.dto.ParameterDTO">
		select count(*) from review LEFT join stores on review.store_idx = stores.store_idx
			<if test="review_idx !=null">
				where
				<foreach collection="review_idx" item="idx" open="(" close=")" separator="or">
					review_idx = #{idx}
				</foreach>
			</if>
	</select>
	
	<select id="getnewList" resultMap="SNSMap" parameterType="com.coffice.dto.ParameterDTO">
		SELECT * FROM (
			SELECT Tb.*, rownum rNum FROM(
				SELECT * FROM review LEFT join stores on review.store_idx = stores.store_idx
				LEFT join image on review.review_idx = image.review_idx
				LEFT join member on review.mem_id = member.mem_id
				<if test="review_idx!=null">
					where
					<foreach collection="review_idx" item="idx" open="(" close=")" separator="or">
						review.review_idx = #{idx}
					</foreach>
				</if>
				ORDER BY review.review_idx DESC
			)Tb
		)
		WHERE rNum BETWEEN #{start} AND #{end}
	</select>
	
	<select id="review_list" resultMap="SNSMap" parameterType="com.coffice.dto.ParameterDTO">
		SELECT * FROM review LEFT join stores on review.store_idx = stores.store_idx
		LEFT join image on review.review_idx = image.review_idx
		where review.store_idx = #{store_idx}
	</select>
	
	<!-- 좋아요순 -->
	<select id="review_list_type2" resultMap="SNSMap" parameterType="com.coffice.dto.ParameterDTO">
		SELECT * FROM review LEFT join stores on review.store_idx = stores.store_idx
		LEFT join image on review.review_idx = image.review_idx 
		where review.store_idx = #{store_idx} order by like_hit desc
	</select>
	
	<!-- 별점높은순 -->
	<select id="review_list_type3" resultMap="SNSMap" parameterType="com.coffice.dto.ParameterDTO">
		SELECT * FROM review LEFT join stores on review.store_idx = stores.store_idx
		LEFT join image on review.review_idx = image.review_idx
		where review.store_idx = #{store_idx} order by review_star desc
	</select>
	
	<!-- 별점낮은순 -->
	<select id="review_list_type4" resultMap="SNSMap" parameterType="com.coffice.dto.ParameterDTO">
		SELECT * FROM review LEFT join stores on review.store_idx = stores.store_idx
		LEFT join image on review.review_idx = image.review_idx
		where review.store_idx = #{store_idx} order by review_star asc
	</select>
	
	<!-- 가게별 리뷰수 -->
	<select id="getStoresReviewCount" resultType="int">
		SELECT count(*) FROM review where store_idx = #{store_idx}
	</select>
	
	
	<insert id="insert" parameterType="com.coffice.dto.ReviewDTO">
		insert into review (review_idx, review_content, store_idx, mem_id, review_star)
		values(review_seq.nextval, #{review_content},#{store_idx}, #{mem_id},#{review_star} )
	</insert>
	

	<select id="getIdx" parameterType="com.coffice.dto.ReviewDTO" resultType="int">
		select (review_idx) from review where review_content=#{review_content}
	</select>
	
	<insert id="imgInsert" parameterType="com.coffice.dto.ImageDTO">
		insert into image (image_idx,review_idx,store_idx,image_origin,image_save)
		values(image_seq.nextval,#{review_idx},#{store_idx},'origin',#{image_save})
	</insert>

	
   <select id="findLike" parameterType="com.coffice.dto.HeartDTO" resultType="int">
      select count(like_flag) from heart where mem_id = #{mem_id} and review_idx = #{review_idx}
   </select>
		

   <insert id="insertlike" parameterType="com.coffice.dto.HeartDTO">
       INSERT INTO heart (MEM_ID, review_idx, like_flag, like_postdate)
       VALUES
       (#{mem_id}, #{review_idx}, 1, sysdate)
   </insert>
   
   <delete id="likedelete" parameterType="com.coffice.dto.HeartDTO">
	  DELETE from heart where mem_id=#{mem_id} and review_idx=#{review_idx}   
   </delete>
   
   <update id="like_up">
   	  update review set like_hit = like_hit + 1 where review_idx=#{_idx}
   </update>
   
   <update id="like_down" >
   	  update review set like_hit = like_hit - 1 where review_idx=#{_idx}
   </update>
	
	<select id="like_hit" resultType="int">
		select like_hit from review where review_idx = #{_idx}
	</select>
	
	<select id="check_like" resultMap="HeartMap">
		select * from heart where mem_id = #{user_id}
	</select>
</mapper>