<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coffice.user.service.CafeImpl">

	<select id="getTotalCountSearch" resultType="int">
		SELECT COUNT(*) from (select st.*, store_tag from stores st , tag t  where st.STORE_IDX = t.STORE_IDX(+)) 
		<if test="searchTxt!=null and !searchTxt.equals('')">
			where store_localAddr LIKE '%'||#{searchTxt}||'%' 
						or store_tag LIKE '%'||#{searchTxt}||'%'
						or store_name LIKE '%'||#{searchTxt}||'%'
						or store_item LIKE '%'||#{searchTxt}||'%'
		</if>
	</select>
	
	<select id="listPageSearch" resultType="com.coffice.dto.SearchDTO"
		parameterType="com.coffice.dto.SearchDTO">
		select * from (
			select Tb.*, rownum rNum FROM(
				select * from (select st.*, store_tag from stores st , tag t  where st.STORE_IDX = t.STORE_IDX(+)) 
				<if test="searchTxt!=null and !searchTxt.equals('')">
								where store_localAddr LIKE '%'||#{searchTxt}||'%' 
								or store_name LIKE '%'||#{searchTxt}||'%'
								or store_item LIKE '%'||#{searchTxt}||'%' 
								or store_tag LIKE '%'||#{searchTxt}||'%' 
				</if>
				order by STORE_IDX desc
			)Tb
		)
		WHERE rNum<![CDATA[>=]]>#{start} AND rNum<![CDATA[<=]]>#{end}
	</select>
	
	<!-- 이클립스 문제인지 xml 경로를 계속 못 찾아서 일단 이쪽에 등록 해놨습니다. -->
	<!-- 가게 정보등록 -->
	<insert id="edit" parameterType="com.coffice.dto.StoresDTO">
  		INSERT INTO stores (store_idx, MEM_ID, store_name, store_owner, store_notice, store_phone, store_zipcode, store_roadaddr,
  		store_localaddr, store_latitude, store_longitude, store_sigungu, store_dong)
  		VALUES
  		(#{store_idx}, #{mem_id}, #{store_name}, #{store_owner}, #{store_notice}, #{store_phone}, 
  		#{store_zipcode}, #{store_roadaddr}, #{store_localaddr}, #{store_latitude}, #{store_longitude}, #{store_sigungu}, #{store_dong})
  	</insert>
  	<!-- 가게 정보수정 -->
  	<update id="cafemodify" parameterType="com.coffice.dto.StoresDTO">
  	<![CDATA[
  		UPDATE stores
  			SET store_name=#{store_name}, store_owner=#{store_owner}, store_notice=#{store_notice}, store_phone=#{store_phone}, 
  			store_localaddr=#{store_localaddr}, store_zipcode=#{store_zipcode}, 
  			store_roadaddr=#{store_roadaddr}, store_latitude=#{store_latitude}, 
  			store_longitude=#{store_longitude}, store_sigungu=#{store_sigungu}, store_dong=#{store_dong}
  			WHERE mem_id=#{mem_id}
  			]]>
  	</update>
  	
  	<insert id="menuimgED" parameterType="com.coffice.dto.StoresDTO">
  		INSERT INTO stores (store_menu , mem_id)
  		VALUES
  		(#{store_menu} , #{mem_id})
  	</insert>
  	
  	
  	<update id="menuimgMD" parameterType="com.coffice.dto.StoresDTO">
  		UPDATE stores
  			SET store_menu=#{store_menu}
  			WHERE mem_id=#{mem_id}
  	</update>
  	
  	<insert id="tagED" parameterType="com.coffice.dto.StoresDTO">
  		INSERT INTO tag (store_tag,store_idx) values (#{store_tag},#{store_idx})
  	</insert>
  	
  	<update id="tagMD" parameterType="com.coffice.dto.StoresDTO">
  		UPDATE tag
  			SET store_tag=#{store_tag}
  			WHERE store_idx=#{store_idx}
  	</update>
  	
  	
  	<update id="imgMD" parameterType="com.coffice.dto.ImageDTO">
  		UPDATE image
  			SET image_save=#{image_save}
  			WHERE store_idx=#{store_idx}
  	</update>
  	
  	<insert id="imgED" parameterType="com.coffice.dto.ImageDTO">
  		INSERT INTO image (image_save,store_idx) values (#{image_save},#{store_idx})
  	</insert>
  	
  	
</mapper>