<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="common.TESTImpl">
  
  <!-- 시간포멧설정용 -->
	  <update id="setDateTime">
	  	alter session set nls_date_format='YYYY-MM-DD HH24:MI:SS'
	  </update>
  </mapper>