<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffice.admin.service.SubDAOlmpl">

 	<insert id="addSub" parameterType="Object">
 		INSERT INTO subscription VALUES 
 			(seq_sub_idx.nextval, #{param1}, #{param2}, #{param3})
 	</insert>
 	
 	
 	<select id="listSub" resultType="com.coffice.dto.SubscriptionDTO">
 		SELECT * FROM subscription ORDER BY sub_price ASC
 	</select>
 	
 	<select id="viewSub" resultType="com.coffice.dto.SubscriptionDTO" parameterType="Object">
 		SELECT * FROM subscription where sub_idx=#{param1}
 	</select>
 	
 	<update id="modifySub" parameterType="Object">
 		UPDATE subscription SET 
 			sub_name=#{param1}, 
 			sub_price=#{param2},
 			sub_coffee_num=#{param3}
				WHERE sub_idx=#{param4}
 	</update>
 	
 	<delete id="deleteSub">
 		DELETE FROM subscription WHERE sub_idx=#{param1}
 	</delete>
 	
</mapper>